In [53]:
str = "Hello World! "
print (str * 2)
print (str + str)

Hello World! Hello World!
Hello World! Hello World!

In [29]:
dict1 = {"apple":"red","banana":"yellow","pear":"green"}
dict1.keys()

dict_keys(['apple', 'banana', 'pear'])

In [30]:
dict1.values()

dict_values(['red', 'yellow', 'green'])

In [31]:
dict1.items()

dict_items([('apple', 'red'), ('banana', 'yellow'), ('pear', 'green')])

In [33]:
# get unique values in a list

list1 = [1,2,3,4,5,12,1,2,3,4,5,6,7,12,3,6,7,8,9]

list2 =[2,3,4]

print (set(list1 + list2))

print (len(list1))

print (len(set(list1)))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12}
19
10

In [38]:
# Capitalize the entire str
str.upper()

'HELLO WORLD! '

In [39]:
# Reverse the string
str[::-1]

' !dlroW olleH'

In [40]:
# Swaps the case
str.swapcase()

'hELLO wORLD! '

In [44]:
list1.sort()
list1

[1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 9, 12, 12]

In [48]:
# How to make first letter or name in Uppercase and rest Lowercase
name1 = "maurice"
name1[0].upper()+name[1:]

'Maurice'

In [49]:
name2 = "peTeR"
name2[0].upper() + name2[1:].lower()

'Peter'

In [52]:
# Take home assignment

# Create a class Employee with two parameters - Employee id (id) and Employee dept (dept)
# Create two functions - get_id and get_dept

# Create an employee Peter with id as "123" and dept as "HR"